# App
DEBUG=

# DATABASE
DATABASE__HOST=
DATABASE__PORT=
DATABASE__NAME=
DATABASE__USER=
DATABASE__PASSWORD=

# REDIS
REDIS__HOST=
REDIS__PORT=
REDIS__DB=

# EMBEDDING
EMBEDDING_DIMENSIONS=

# LLM
LLM__PROVIDER=
LLM__API_KEY=
LLM__MODEL_NAME=
